
<!-- https://github.com/mattboldt/typed.js/ -->
  <!-- <span id="element"></span> -->

  <!-- <div id="typed-strings">
  <p>Typed.js is a <strong>JavaScript</strong> library.</p>
  <p>It <em>types</em> out sentences.</p>
</div>
<span id="typed"></span> -->

<div>
  <h2>Watch me code a flag in under 15 seconds:</h2>
  <pre id="element" style="background:#222;color:#fff;padding:1em;border-radius:6px;min-height:300px"></pre>
</div>
<hr>
<div>
  <h2>Rendered Output:</h2>
  <iframe #outputFrame style="width:100%;height:350px;border:1px solid #ccc;border-radius:6px"></iframe>
</div>


